
 <app-profile (findProfile)="getUser($event)"></app-profile> 
<div class="container-fluid" style="padding-top: 80px; padding-left: 50px;">
    <div class="row">
        <div class="col-md-6">
            <img style="border-radius: 50px;" src="{{profile.avatar_url}}" alt="">
        </div>
        <div class="col-md-6">
            <h2 >Profile Information</h2>
            <p> <span>Name:</span>
                {{profile.name}}
            </p>
            <p *ngIf="profile.login">
                <span>UserName:</span>
                {{ profile.login }}
            </p>
            <p><span>Bio:</span>
                {{profile.bio}}
            </p>
            <p><span>Repositories:</span>
                {{profile.public_repos}}
            </p>
            <p> Followers:
                {{ profile.followers }}
            </p>
            <p> Following:
                {{ profile.following }}
            </p>
        </div>
    </div>
    <div>
        <h2 class="text-center pt-4  font-size:70px;">GitHub Repositories</h2>
    </div>
    <div class="container" style="text-align: center;">
        <div class="row" >
            <div class="col-md-6" *ngFor="let user of user">
                <div class="card mt-3">
                    <p class="text-center pt-4 para">
                        {{user.name}}
                    </p>
                    <hr>
                    <p>
                        {{user.description}}
                    </p>
                    <p>
                        {{user.language}}
                    </p>
                    <p>
                        {{user.created_at}}
                    </p>
                    <div class="card-footer text-center">
                        <a href="{{ user.html_url }}" class="btn btn-success" target="_blank">View on GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>