<form action="" class="container" style="background-color: gre;padding-top: 10px;">
  <div class="form-group">
    <form class="form-inline md-form mr-auto mb-4"#name="ngForm">
      <input class="form-control  mr-sm-2" type="text" placeholder="Enter GitHub name" aria-label="Search"  [(ngModel)] ="UserName" name="UserName">
      <button mdbBtn size="sm"  rounded="true" class="my-0 waves-light btn btn-success" mdbWavesEffect
          type="submit" (click)="getProfile()">Search user</button>
  </form>
  </div>
</form>

